h2 {
	margin: 1.5rem 0 .25rem;
	font-weight: 600; font-size: 1.125rem;
	& + p { margin: 0 0 .75rem; }
}
p { line-height: 1.25; }
label {
	display: grid; margin: 1rem 0;
	grid: auto / auto 1fr; gap: 0 .5rem; place-items: center start;
	input[type=checkbox]{
		width: 1rem; min-height: 1rem; margin: 0;
	}
	p {
		grid-column: 2;
		margin: 0;
		color: var(--text-color-dim);
		font-size: .875rem;
	}
}

#feeds {
	a {
		display: flex; padding: .5rem .75rem;
		gap: .75rem; align-items: center;
		color: inherit;
		border-radius: .25rem;
		text-decoration: none;
		&:hover { background-color: var(--button-color-hover); }
		&:active { background-color: var(--button-color-active); }
		span {
			flex: 1;
			white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden;
		}
	}
	&:empty {
		color: var(--text-color-dim);
		font-size: .875rem;
		&::after { content: "No feeds found"; }
	}
}

#import-export {
	display: flex; margin: 1rem 0;
	justify-content: end; gap: 1rem;
	label {
		display: inline-flex; padding: .25rem .75rem; margin: 0;
		color: inherit; background-color: var(--button-color);
		position: relative;
		border: none; border-radius: .25rem;
		font-weight: 600; font-size: .875rem; line-height: 1rem;
		cursor: default;
		&:has(:disabled){ opacity: .4; }
		&:not(.loading) img { display: none; }
		&:not(:has(:disabled)){
			&:hover { background-color: var(--button-color-hover); }
			&:active { background-color: var(--button-color-active); }
		}
	}
	input {
		width: 1px; height: 1px; min-height: 0; padding: 0;
		opacity: .1;
		position: absolute; inset: 0 0 auto auto;
		border: none;
		clip-path: inset(50%);
	}
}
